## Using Logistic Regression

### import relevant libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
## importing preprocessed data
data_preprocessed = pd.read_csv("df_preprocessed.csv")
data_preprocessed.head()

,reason_type_1,reason_type_2,reason_type_3,reason_type_4,Month value,Day of week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

### Creating Targets for Logistic Regression

In [3]:
data_preprocessed["Absenteeism Time in Hours"].median()

3.0

In [4]:
targets= np.where(data_preprocessed["Absenteeism Time in Hours"]>
                data_preprocessed["Absenteeism Time in Hours"].median(),1,0)
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [5]:
data_preprocessed["Excessive Absenteeism"]=targets
data_preprocessed.head()

,reason_type_1,reason_type_2,reason_type_3,reason_type_4,Month value,Day of week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

In [6]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours'],axis=1)
data_with_targets.head()

,reason_type_1,reason_type_2,reason_type_3,reason_type_4,Month value,Day of week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,0

In [7]:
## selecting inputs
unscaled_inputs = data_with_targets.iloc[:,:-1]
unscaled_inputs

,reason_type_1,reason_type_2,reason_type_3,reason_type_4,Month value,Day of week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1

### Standardize The Input

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
absenteeism_scaler = StandardScaler()

In [10]:
unscaled_inputs.columns.values

array(['reason_type_1', 'reason_type_2', 'reason_type_3', 'reason_type_4',
       'Month value', 'Day of week', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets'], dtype=object)

In [11]:
absenteeism_scaler.fit(unscaled_inputs[['Month value', 'Day of week', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets']])

StandardScaler()

In [12]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs[['Month value', 'Day of week', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets']])
scaled_inputs

array([[ 0.18272635, -0.68370352,  1.00584437, ..., -0.44798003,
         0.88046927,  0.26848661],
       [ 0.18272635, -0.68370352, -1.57468098, ..., -0.44798003,
        -0.01928035, -0.58968976],
       [ 0.18272635, -0.00772546, -0.6541427 , ..., -0.44798003,
        -0.91902997, -0.58968976],
       ...,
       [-0.3882935 ,  0.66825259,  1.62456682, ...,  2.23224237,
        -0.91902997, -0.58968976],
       [-0.3882935 ,  0.66825259,  0.19094163, ...,  2.23224237,
        -0.91902997, -0.58968976],
       [-0.3882935 ,  0.66825259,  1.03602595, ..., -0.44798003,
        -0.01928035,  0.26848661]])

In [13]:
df_normalized = pd.DataFrame(scaled_inputs,columns=['Month value', 'Day of week', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets'])
df_normalized = df_normalized.join(unscaled_inputs[unscaled_inputs.columns.drop(['Month value', 'Day of week', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets'])])
columns_reorder = ['reason_type_1', 'reason_type_2', 'reason_type_3', 'reason_type_4',
       'Month value', 'Day of week', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets']
df_normalized = df_normalized[columns_reorder]

### Split into Train and Test Data's

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df_normalized,targets,train_size = 0.8, random_state=20)
print(x_train.shape,y_train.shape)
print(x_test.shape,y_test.shape)

(560, 14) (560,)
(140, 14) (140,)

### using Sklearn for Logistic Regression

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
reg=LogisticRegression()

In [17]:
reg.fit(x_train,y_train)

LogisticRegression()

In [18]:
reg.score(x_train,y_train)

0.7785714285714286

### Manually calculating accuracy

In [19]:
model_outputs = reg.predict(x_train)
model_outputs

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0])

In [20]:
y_train

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0])

In [21]:
model_outputs == y_train

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
       False,  True, False,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
       False, False,  True,  True, False,  True, False,  True,  True,
        True, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False, False,  True,  True,  True,  True,  True, False,
       False, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
       False,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True, False, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
       False,  True,  True,  True,  True,  True, False,  True, False,
        True,  True,  True,  True, False,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True, False,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
       False, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
       False,  True])

In [22]:
#getting correct output for this many inputs
correct_prediction =np.sum((model_outputs==y_train))

In [23]:
# total no of inputs
total=model_outputs.shape[0]

In [24]:
manual_accuracy = correct_prediction/total
manual_accuracy

0.7785714285714286

### Intercepts and Coefficients

In [25]:
reg.intercept_

array([-1.68969191])

In [26]:
reg.coef_

array([[ 2.80088908e+00,  9.37679263e-01,  3.09784623e+00,
         8.55189097e-01,  1.65600560e-01, -8.38855532e-02,
         6.13417431e-01, -9.52263740e-03, -1.66485910e-01,
        -9.39188259e-04,  2.69858214e-01, -8.32092336e-02,
         3.60649946e-01, -2.86053551e-01]])

In [27]:
feature_names=unscaled_inputs.columns.values

In [28]:
summary_table = pd.DataFrame(columns = ["features"],data= feature_names)
summary_table["coefficient"]=np.transpose(reg.coef_)
summary_table

                   features  coefficient
0             reason_type_1     2.800889
1             reason_type_2     0.937679
2             reason_type_3     3.097846
3             reason_type_4     0.855189
4               Month value     0.165601
5               Day of week    -0.083886
6    Transportation Expense     0.613417
7          Distance to Work    -0.009523
8                       Age    -0.166486
9   Daily Work Load Average    -0.000939
10          Body Mass Index     0.269858
11                Education    -0.083209
12                 Children     0.360650
13                     Pets    -0.286054

In [29]:
summary_table.index = summary_table.index+1
summary_table.loc[0]=['Intercept',reg.intercept_[0]]
summary_table

                   features  coefficient
1             reason_type_1     2.800889
2             reason_type_2     0.937679
3             reason_type_3     3.097846
4             reason_type_4     0.855189
5               Month value     0.165601
6               Day of week    -0.083886
7    Transportation Expense     0.613417
8          Distance to Work    -0.009523
9                       Age    -0.166486
10  Daily Work Load Average    -0.000939
11          Body Mass Index     0.269858
12                Education    -0.083209
13                 Children     0.360650
14                     Pets    -0.286054
0                 Intercept    -1.689692

In [30]:
summary_table = summary_table.sort_index()
summary_table

                   features  coefficient
0                 Intercept    -1.689692
1             reason_type_1     2.800889
2             reason_type_2     0.937679
3             reason_type_3     3.097846
4             reason_type_4     0.855189
5               Month value     0.165601
6               Day of week    -0.083886
7    Transportation Expense     0.613417
8          Distance to Work    -0.009523
9                       Age    -0.166486
10  Daily Work Load Average    -0.000939
11          Body Mass Index     0.269858
12                Education    -0.083209
13                 Children     0.360650
14                     Pets    -0.286054

### Interpreting the coefficient

In [31]:
summary_table["odds_ratio"]=np.exp(summary_table.coefficient)
summary_table.sort_values(['odds_ratio'],ascending = False)

                   features  coefficient  odds_ratio
3             reason_type_3     3.097846   22.150193
1             reason_type_1     2.800889   16.459274
2             reason_type_2     0.937679    2.554047
4             reason_type_4     0.855189    2.351819
7    Transportation Expense     0.613417    1.846732
13                 Children     0.360650    1.434261
11          Body Mass Index     0.269858    1.309779
5               Month value     0.165601    1.180102
10  Daily Work Load Average    -0.000939    0.999061
8          Distance to Work    -0.009523    0.990523
12                Education    -0.083209    0.920159
6               Day of week    -0.083886    0.919536
9                       Age    -0.166486    0.846635
14                     Pets    -0.286054    0.751222
0                 Intercept    -1.689692    0.184576

### Testing the model

In [32]:
reg.score(x_test,y_test)

0.7428571428571429

In [33]:
predict_probalilities = reg.predict_proba(x_test)
predict_probalilities

array([[0.73864053, 0.26135947],
       [0.60789646, 0.39210354],
       [0.40996973, 0.59003027],
       [0.80472183, 0.19527817],
       [0.07323255, 0.92676745],
       [0.31941804, 0.68058196],
       [0.31226346, 0.68773654],
       [0.13306856, 0.86693144],
       [0.79635128, 0.20364872],
       [0.75286427, 0.24713573],
       [0.48231604, 0.51768396],
       [0.19563399, 0.80436601],
       [0.07839777, 0.92160223],
       [0.7089873 , 0.2910127 ],
       [0.30548379, 0.69451621],
       [0.57237284, 0.42762716],
       [0.54122481, 0.45877519],
       [0.57229528, 0.42770472],
       [0.38058499, 0.61941501],
       [0.04846973, 0.95153027],
       [0.69721698, 0.30278302],
       [0.79565677, 0.20434323],
       [0.39396853, 0.60603147],
       [0.42134577, 0.57865423],
       [0.26457608, 0.73542392],
       [0.75562849, 0.24437151],
       [0.50913803, 0.49086197],
       [0.86909265, 0.13090735],
       [0.20199742, 0.79800258],
       [0.78628266, 0.21371734],
       [0.62547743, 0.37452257],
       [0.31233768, 0.68766232],
       [0.31203463, 0.68796537],
       [0.45880168, 0.54119832],
       [0.79565677, 0.20434323],
       [0.49167555, 0.50832445],
       [0.78840234, 0.21159766],
       [0.25432477, 0.74567523],
       [0.56340448, 0.43659552],
       [0.40961828, 0.59038172],
       [0.77513214, 0.22486786],
       [0.5670968 , 0.4329032 ],
       [0.78226694, 0.21773306],
       [0.60677604, 0.39322396],
       [0.18616591, 0.81383409],
       [0.4271229 , 0.5728771 ],
       [0.30605959, 0.69394041],
       [0.72772252, 0.27227748],
       [0.79669474, 0.20330526],
       [0.8194725 , 0.1805275 ],
       [0.40992996, 0.59007004],
       [0.65626582, 0.34373418],
       [0.33249992, 0.66750008],
       [0.71348549, 0.28651451],
       [0.14991357, 0.85008643],
       [0.52918156, 0.47081844],
       [0.1103302 , 0.8896698 ],
       [0.74306346, 0.25693654],
       [0.68048757, 0.31951243],
       [0.68238452, 0.31761548],
       [0.28000802, 0.71999198],
       [0.34265732, 0.65734268],
       [0.68732315, 0.31267685],
       [0.21156143, 0.78843857],
       [0.80123397, 0.19876603],
       [0.73486178, 0.26513822],
       [0.91751001, 0.08248999],
       [0.76902475, 0.23097525],
       [0.27085209, 0.72914791],
       [0.66846148, 0.33153852],
       [0.78855248, 0.21144752],
       [0.70407953, 0.29592047],
       [0.09100051, 0.90899949],
       [0.56117487, 0.43882513],
       [0.38028505, 0.61971495],
       [0.78628266, 0.21371734],
       [0.21582065, 0.78417935],
       [0.29447179, 0.70552821],
       [0.23432119, 0.76567881],
       [0.31867796, 0.68132204],
       [0.75331077, 0.24668923],
       [0.91994202, 0.08005798],
       [0.77433744, 0.22566256],
       [0.26929347, 0.73070653],
       [0.58441423, 0.41558577],
       [0.87742888, 0.12257112],
       [0.30327459, 0.69672541],
       [0.43513983, 0.56486017],
       [0.76656156, 0.23343844],
       [0.32464456, 0.67535544],
       [0.83796701, 0.16203299],
       [0.87531898, 0.12468102],
       [0.77829978, 0.22170022],
       [0.71228298, 0.28771702],
       [0.77335562, 0.22664438],
       [0.13153172, 0.86846828],
       [0.72926272, 0.27073728],
       [0.21268628, 0.78731372],
       [0.77279233, 0.22720767],
       [0.76656957, 0.23343043],
       [0.37142491, 0.62857509],
       [0.3002899 , 0.6997101 ],
       [0.29136455, 0.70863545],
       [0.30164269, 0.69835731],
       [0.53075821, 0.46924179],
       [0.48140815, 0.51859185],
       [0.74764906, 0.25235094],
       [0.15221041, 0.84778959],
       [0.22187414, 0.77812586],
       [0.84719674, 0.15280326],
       [0.92663252, 0.07336748],
       [0.09687316, 0.90312684],
       [0.35565241, 0.64434759],
       [0.64527478, 0.35472522],
       [0.44714961, 0.55285039],
       [0.40111892, 0.59888108],
       [0.19502432, 0.80497568],
       [0.19557702, 0.80442298],
       [0.47404337, 0.52595663],
       [0.69898028, 0.30101972],
       [0.76481946, 0.23518054],
       [0.82926309, 0.17073691],
       [0.16896472, 0.83103528],
       [0.52495462, 0.47504538],
       [0.78628266, 0.21371734],
       [0.6141435 , 0.3858565 ],
       [0.80339265, 0.19660735],
       [0.87957609, 0.12042391],
       [0.25416221, 0.74583779],
       [0.68492252, 0.31507748],
       [0.34538154, 0.65461846],
       [0.79423396, 0.20576604],
       [0.68223584, 0.31776416],
       [0.65359459, 0.34640541],
       [0.7058869 , 0.2941131 ],
       [0.48935562, 0.51064438],
       [0.55759284, 0.44240716],
       [0.69493186, 0.30506814],
       [0.74154832, 0.25845168],
       [0.56105758, 0.43894242]])

In [37]:
# probabilities of getting output as 1 for each test cases.
predict_probalilities[:,1]

array([0.26135947, 0.39210354, 0.59003027, 0.19527817, 0.92676745,
       0.68058196, 0.68773654, 0.86693144, 0.20364872, 0.24713573,
       0.51768396, 0.80436601, 0.92160223, 0.2910127 , 0.69451621,
       0.42762716, 0.45877519, 0.42770472, 0.61941501, 0.95153027,
       0.30278302, 0.20434323, 0.60603147, 0.57865423, 0.73542392,
       0.24437151, 0.49086197, 0.13090735, 0.79800258, 0.21371734,
       0.37452257, 0.68766232, 0.68796537, 0.54119832, 0.20434323,
       0.50832445, 0.21159766, 0.74567523, 0.43659552, 0.59038172,
       0.22486786, 0.4329032 , 0.21773306, 0.39322396, 0.81383409,
       0.5728771 , 0.69394041, 0.27227748, 0.20330526, 0.1805275 ,
       0.59007004, 0.34373418, 0.66750008, 0.28651451, 0.85008643,
       0.47081844, 0.8896698 , 0.25693654, 0.31951243, 0.31761548,
       0.71999198, 0.65734268, 0.31267685, 0.78843857, 0.19876603,
       0.26513822, 0.08248999, 0.23097525, 0.72914791, 0.33153852,
       0.21144752, 0.29592047, 0.90899949, 0.43882513, 0.61971495,
       0.21371734, 0.78417935, 0.70552821, 0.76567881, 0.68132204,
       0.24668923, 0.08005798, 0.22566256, 0.73070653, 0.41558577,
       0.12257112, 0.69672541, 0.56486017, 0.23343844, 0.67535544,
       0.16203299, 0.12468102, 0.22170022, 0.28771702, 0.22664438,
       0.86846828, 0.27073728, 0.78731372, 0.22720767, 0.23343043,
       0.62857509, 0.6997101 , 0.70863545, 0.69835731, 0.46924179,
       0.51859185, 0.25235094, 0.84778959, 0.77812586, 0.15280326,
       0.07336748, 0.90312684, 0.64434759, 0.35472522, 0.55285039,
       0.59888108, 0.80497568, 0.80442298, 0.52595663, 0.30101972,
       0.23518054, 0.17073691, 0.83103528, 0.47504538, 0.21371734,
       0.3858565 , 0.19660735, 0.12042391, 0.74583779, 0.31507748,
       0.65461846, 0.20576604, 0.31776416, 0.34640541, 0.2941131 ,
       0.51064438, 0.44240716, 0.30506814, 0.25845168, 0.43894242])

### Save the Model

In [38]:
import pickle
with open('model','wb') as file:
    pickle.dump(reg,file)

In [39]:
with open('scaler','wb') as file:
    pickle.dump(absenteeism_scaler,file)